.navbar{

position:absolute;

top:0;
left:0;

width:100%;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

z-index:100;

background:rgba(11,110,79,.85);

backdrop-filter:blur(10px);

}

.logo{

display:flex;

align-items:center;

gap:15px;

color:white;

}

.logo-icon{

font-size:35px;

color:#C9A227;

}

.logo h2{

color:white;

font-size:30px;

}

.logo span{

font-size:13px;

color:#ddd;

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links a{

color:white;

font-weight:600;

transition:.3s;

}

.nav-links a:hover{

color:#C9A227;

}

.login-btn{

padding:12px 25px;

border:none;

background:#C9A227;

color:white;

border-radius:30px;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

.login-btn:hover{

background:white;

color:#0B6E4F;

}

@media(max-width:900px){

.navbar{

flex-direction:column;

gap:20px;

}

.nav-links{

flex-wrap:wrap;

justify-content:center;

}

}